[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
python3-saml = "*"
lxml = "*"
pyjwt = "*"
werkzeug = "3.0.2"

[dev-packages]
black = "*"
ruff = "*"
safety = "*"
pytest = "*"
coveralls = "*"

[requires]
python_version = "3.12"
